$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;

$bg-color: #43455c;
$code-bg-color: #2d2d2d;
$primary-color: #3bba9c;
$primary-color-active: #2f937c;
$secondary-color: #2e3047;
