.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #43455c;
    padding-top: 50px;
}

.victory-message {
    height: 50px;
    display: box;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

button {
    margin-right: 25px;
}
